{% extends "base.html" %}

{% block title %}
Detalles Pokemon
{% endblock %}

{% block content %}
  <div class="mt-5" style="max-width: 400px;">
    <div class="card">
      <div class="card-header" align="center">
        Detalle del Pokemon:<strong class="text-uppercase"> {{obj.name}} </strong>
      </div>
      <div class="card-body" align="left">
        <ul class="list-group">
          <ul class="list-group-item"><small class="text-muted">Weight: </small>{{obj.weight}}</ul>
          <ul class="list-group-item"><small class="text-muted">Height: </small>{{obj.height}}</ul>
          <ul class="list-group-item"><small class="text-muted">Base Experience: </small>{{obj.base_experience}}</ul>
          <ul class="list-group-item"><small class="text-muted">Order: </small>{{obj.order}}</ul>
        </ul>
      </div>
      <div class="card-footer" align="center">
        <div class="float-center">
          <a href="/pokemon/list" class="btn btn-info">Atras</a>
          <button class="btn btn-warning ">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}